# Slicing test artifacts
tests/slicing_test/

# Compiled extensions
*.so
*.dylib

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
